* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: black;
	text-decoration: none;
	font-family: 'Exo', sans-serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Oswald', sans-serif;
	overflow-x: hidden;
}




/* About page*/

@media only screen and (min-width: 319px) {

	.testimonials {
		display: block;
		margin-bottom: 50px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	#about-img {
		display: block;
		text-align: center;
		width: 60%;
		
		margin: 25px auto;
	}

	

	#gallery-about {
		width: 100%;
		height: auto;
		border-top: solid 1px black;	
		background-color: #FFA7F3;
	}

	.covidabout p{
		background-color: rgba(100, 50, 73, 0.6);
		color: beige;
		text-align: center;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 10px;
		padding: 10px 20px;
	}

	body {
		background-color: beige;
	}

	#hours-table {
		background-color: rgba(255, 167, 243, 0.5);
		padding: 15px 15px 15px 15px;
		border-radius: 20px;
		border: 1px solid white;
		display: block;
		width: 80%;
		margin: 15px auto;
		margin-bottom: 50px;
	}

	/*#body-about {
		background-image: url(../images/sonnie-hiles-rX8gBeg2WM0-unsplash.jpg);
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	} */

	iframe {
		width: 80%;
	}
}

@media only screen and (min-width: 426px) {
	iframe {
		width: 50%;
	}

	#hours-table {
		width: 50%;
	}
}

@media only screen and (min-width: 769px) {

	.testimonials {
		display: inline-block;
		width: 50%;
		text-align: center;
		height: auto;
		vertical-align:top;
		margin-top: 200px;
		margin-left: 60px;
	}

	#about-img {
		
		
		display: inline-block;
		width: 40%;
		
	}

	/*.floatright {
		width: 50%;
		float: right;
		margin-right: 20px;
	} 

	iframe {
		width: 80%;
		float: right;
		margin-right: 20px;
	} */

	.section-about {
		justify-content: center;
		text-align: center;
	}


	#hours-table {
		/*float: right;*/
		width: 40%;
		margin-right: 20px;
		text-align: center;
	}

	/*#body-about {
		background-image: url(../images/sonnie-hiles-rX8gBeg2WM0-unsplash.jpg);
		background-position: left;
		background-repeat: no-repeat;
		background-size: contain;
		background-attachment: fixed;
		height: 100vh;
	}  */

}

/* Navigation bar */

@media only screen and (min-width: 319px) {
	nav {
		background-color: #FFA7F3;
		border-bottom: 1px solid white;
		height: 75px;
	}

	#nav-ul li {
		display: inline;
		padding-left: 1.6rem;
		padding-right: 1.6rem;
		font-weight: 500;
		text-transform: uppercase;
	}

	li a {
		font-size: 20px;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	#nav-ul {
		justify-content: center;
		text-align: center;
		padding-top: 15px;
		transition: transform 0.6s ease-in;
	}

	#nav-ul:hover {
		transform: scale(1.03);
	}

	#nav-ul a:hover {
		color: beige;
		transform: scale(1.03);
		text-decoration: underline;
	}

}

@media only screen and (min-width: 767px) {
	nav {
		height: 60px
	}

	;
}



/* Contact page */
/*




*/
@media only screen and (min-width: 319px) {
	#main-contact {
		background-image: url(../images/signuppage.jpg);
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}

	.contact-form {
		background-color: rgba(247, 247, 247, 0.7);
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		border: black solid 2px;
		height: auto;
		padding-top: 33px;
		border-radius: 5px;
		margin-top: 25px;
	}

	input {
		width: 90%;
		border: black solid 1px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin: 5px 2px;
		border-radius: 5px;
	}

	#input-submit {
		width: 33%;
		font-weight: 800;
		margin-bottom: 15px;
		border-radius: 5px;
		background-color: #FFA7F3;
		transition: transform 0.4s ease;
	}

	#input-submit:hover {
		transform: scale(1.05);
		cursor: pointer;
		color: beige;
		text-decoration: underline;
	}

	label {
		display: block;
	}

	textarea {
		border-radius: 5px;
		width: 90%;
		height: 65px;
		margin-top: 10px;
	}

	.sign-up-here {
		padding-bottom: 20px;
		font-size: 1.5rem;
	}
}

@media only screen and (min-width: 767px) {
	.contact-form {
		width: 50%;
	}
}

@media only screen and (min-width: 1024px) {
	.contact-form {
		width: 33%;
	}
}

/*Home page styles*/

@media only screen and (min-width: 319px) {

	#body-home {
		background-image: url(../images/Homepic.jpg);
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}

	#main-main {
		/*background-color: rgba(100, 100, 200, 0.5);*/
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	#main-h1 {
		font-size: 2.5rem;
		justify-content: center;
		text-align: center;
	}

	#main-offer {
		justify-content: center;
		text-align: center;
		font-size: 2rem;
		text-decoration: none;
	}

	main {
		text-align: center;
		overflow: hidden;
	}

	main>a {
		transition: transform 0.7s ease;
		display: inline-block;
	}

	main>a:hover {
		transform: scale(1.03);
		color: beige;
	}

	#main-offer {
		padding-top: 2rem;
		font-size: 1.5rem;
		color: beige;
	}
	#welcomemsg p{
		margin-top: 50px;
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
		color: beige;
	}
}

/* Pricing page */

@media only screen and (min-width: 319px) {

	#body-pricing {
		background-image: url(../images/alex-shaw-LzrI5kLER7Y-unsplash.jpg);
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}

	.offer {
		background-color: rgba(230, 131, 89, 0.7);
		float: none;
		border-radius: 20px;
		border: 1px solid white;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 80%;
		font-weight: 700;
	}

	.price {
		background-color: rgba(250, 160, 122, 0.7);
		float: none;
		border-radius: 20px;
		border: 1px solid white;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 80%;
		font-weight: 700;
	}

	.button1 {
		color: darkred;
		font-size: 1.2rem;
		display: inline-block;
		transition: transform 0.7s ease;
	}

	.button1:hover {
		transform: scale(1.04);
		font-size: 1.3rem;
		color: beige;
		text-decoration: underline;
	}

}

@media only screen and (min-width: 767px) {

	.offer {
		width: 25%;
		float: right;
		margin-right: 150px;

	}

	.price {
		width: 25%;
		float: left;
		margin-left: 150px;
	}
}

/* Footer */

@media only screen and (min-width: 319px) {

	footer {
		justify-content: center;
		text-align: center;
		background-color: #FFA7F3;
		display: flex;
		height: 2.5rem;
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 40px;
		border-top: 1px solid white;
		
	}

	footer a {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		padding-top: 10px;
		transition: transform ease 0.3s;
		overflow: hidden !important;
	}

	footer a:hover {
		transform: scale(1.2);
	}


	#h3-footer {
		display: none;
	}

}

@media only screen and (min-width: 767px) {

	#h3-footer {
		display: block;
		padding-top: 8px;
		font-weight: 100;
		font-size: 1rem;
	}
}